@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  background-color: hsl(246 6.0% 9.0%);
  color: hsl(253 4.0% 63.7%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}